
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <section class="container">
                <div class="row">
                <p class="center-align">Por favor llena todos los campos con datos verídicos. <br> Tu información esta segura con nosotros</p>
                    <article class="col s6 offset-s3">
                        <form method="POST" action="formulario-contacto">
                            <div class="input-field">
                                <i class="material-icons prefix">perm_identity</i>

                                <input type="text" name="nombre" required placeholder="Nombre">
                            </div>
        
                            <div class="input-field">
                                <i class="material-icons prefix">person_pin</i>
                            
                                <input type="text" name="apellido" required placeholder="Apellido">
                            </div>
                            
                            <div class="input-field">
                                <i class="material-icons prefix">email</i>
                                
                                <input type="email" name="email" required placeholder="Correo">
                            </div>
        
                            <div class="input-field">
                                <i class="material-icons prefix">phone</i>
                                
                                <input type="number" name="telefono" required placeholder="Teléfono">
                            </div>

                            <div class="input-field">
                                <i class="material-icons prefix">book</i>
                                
                                <input type="text" name="direccion" required placeholder="Dirección">
                            </div>
                            
                            <p class="center-align">
                                <button class="waves-effect waves-light btn" type="submit">Aceptar</button>
                            </p>
        
                        </form>
        
                    </article>
                </div>
            </section>
        
        
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
        </div>
    </div>
</div>
