
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <section class="container">
                <form method="POST" action="#">
                    <div class="row">
                        <p>Elige un veterinario(a) disponible y éste(a) te visitará en menos de 24 horas:</p>
                    
                        <div class="row">
                            <div class="input-field col s6 ">
                                <select>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Perro</option>
                                    <option value="2">Gato</option>
                                    <option value="3">Ave</option>
                                  </select>
                                  <label>Mascota</label>
                            </div>
                            <div class="input-field col s6 ">
                                <select>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Perro</option>
                                    <option value="2">Gato</option>
                                    <option value="3">Ave</option>
                                  </select>
                                  <label>Veterinario</label>
                            </div>
                        </div>
                    </div>
                    <p class="left-align">
                        <button class="waves-effect waves-light btn" type="submit">Citar</button>
                    </p>
                    </form>
            </section>
        </div>

    </div>

</div>

