<nav>
    <div class="nav-wrapper">
        <a routerLink="/inicio" class="brand-logo"><img src="/frontMascotas/src/app/images/ambulancia.svg"></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/administracion/crear-dueno"> Dueños</a></li>
            <li><a routerLink="/administracion/crear-veterinario"> Veterinarios</a></li>
            <li><a routerLink="/administracion/crear-mascota"> Mascotas</a></li>
            <li><a routerLink="/citas/registrar-cita"> Citas</a></li>
            <li><a routerLink="/seguridad/cambio-clave"> Cambio clave</a></li>
            <li><a routerLink="/seguridad/identificacion"> Iniciar sesion</a></li>
        </ul>
    </div>
</nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
