.nav-wrapper{
    background-color:#0071BC;  
}
section{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0071BC;
}
button,a{
    background-color: #F4B924;
    border-radius: 8px;
    
}