<nav class="nav-extended blue darken-2">
    <div class="">
      <a class="navbar-brand" href="../../../assets/images/help-my-pet-logo.png">
        <img src="../../../assets/images/help-my-pet-logo.svg" alt="Logotipo Help my Pet" width=auto height="110" class="d-inline-block align-text-top">
      </a>

      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down section">
        <li><a href="/seguridad/iniciar-sesion"><img src="../../../assets/images/login-cliente.svg" alt="Logotipo Help my Pet" width=auto height="80" class=""></a></li>
        <li><a href="/veterinario/ingreso"><img src="../../../assets/images/login-veterinario.svg" alt="Logotipo Help my Pet" width=auto height="80" class=""></a></li>
      </ul>
    </div>

</nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="">Cliente</a></li>
    <li><a href="">Veterinario</a></li>
  </ul>
