<body>
    <div class="bloque_ingreso">

        <img src="../../../assets/images/ingreso-veterinario.svg">
    
    </div>
    <main>
        <div class="wrapper">
            <form class="login" [formGroup]="fgValidador" (ngSubmit)="IdentificarUsuario()">
                <div class="input-field">
                    <i class="material-icons prefix">person_pin</i>
                    <input formControlName="usuario" type="email" name="usuario" required placeholder="Usuario">
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">vpn_key</i>
                    <input formControlName="clave" type="password" name="contrasena" required placeholder="Contraseña">
                </div>
                <p class="center-align">
                    <button [disabled]="!fgValidador.valid" class="waves-effect waves-light btn" type="submit">Aceptar</button>
                </p>
                <p>Si aún no tienes una cuenta: <a routerLink="/administracion/crear-veterinario">Regístrate aquí</a></p>
            </form>
          </div>
          <div class="">
            <img src="../../../assets/images/logo-azulado.svg" alt="Logotipo Help my Pet" class="footer_logo">
        </div>
    </main>
    <footer class="footer light-blue accent-2">
        <div class="section">
             <div class="center-align white-text">2021 Help my Pet ® NIT 891015695-7. Todos los derechos reservados.
             </div>
        </div>
    </footer>
</body>


