<style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }
  </style>
<body>


    <app-barra-inicio></app-barra-inicio>


<main>
    <div class="container section">
    <div class="row">
        <div>
            <div class="carousel carousel-slider">

                <a href="../../../assets/images/publicidad-1.jpg" class="carousel-item">
                    <img src="../../../assets/images/publicidad-1.jpg" width="80" height="450" alt="">
                </a>
                <a href="../../../assets/images/publicidad-2.jpg" class="carousel-item">
                    <img src="../../../assets/images/publicidad-2.jpg" width="80" height="440" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
</main>

<footer>
    <app-footer-inicio></app-footer-inicio>
</footer>

</body>