<nav>
    <div class="nav-wrapper">
    <div class="row">
        <div class="col s2">
            <a href="#!" class="brand-logo"><img src="/frontMascotas/src/app/images/ambulancia.svg"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
        <div class="col s8 center-align"> 
            <h4 id="titulo">Petnóstico</h4>
        </div>
        <div class="col s2 right-align">
            <a href="collapsible.html">| Registros | </a>
            <a href="collapsible.html">Salir</a>
        </div>
    </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <section class="container">
                <form>
                <div class="row">
                    <div class="input-field ">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">opcion 1</option>
                            <option value="2">opcion 2</option>
                            <option value="3">opcion 3</option>
                        </select>
                        <label>Veterinario:</label>
                    </div><br>
                    <div class="row">
                    <table>
                        <thead>
                          <tr>
                              <th>Dueño</th>
                              <th>Mascota</th>
                              <th>Fecha</th>
                          </tr>
                        </thead>
                
                        <tbody>
                          <tr>
                            <td>Néstor</td>
                            <td>Max</td>
                            <td>30 nov 2021</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="input-field col s6 ">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">opcion 1</option>
                                <option value="2">opcion 2</option>
                                <option value="3">opcion 3</option>
                            </select>
                            <label>Dueño:</label>
                        </div>
                        <div class="input-field col s6 ">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">opcion 1</option>
                                <option value="2">opcion 2</option>
                                <option value="3">opcion 3</option>
                            </select>
                            <label>Mascota:</label>
                        </div>
                    </div>
                    <div class="row">
                    <table>
                        <thead>
                          <tr>
                              <th>Color ojos</th>
                              <th>Color piel</th>
                              <th>Altura</th>
                              <th>Raza</th>
                          </tr>
                        </thead>
                
                        <tbody>
                          <tr>
                            <td>Marron</td>
                            <td>Dorado</td>
                            <td>30 cm</td>
                            <td>Pastor collie</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                </form>
            </section>
        </div>
    </div>
</div>
