<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <section class="container">
                <form [formGroup]= "fgValidador"  (ngSubmit)="EditarCita()">
                    <input type="hidden" formControlName="id">
                <div class="row">
                    <div class="row">
                        <div class="col s4">
                            <input formControlName="fecha" type="date" name="fecha" required placeholder="fecha">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <input formControlName="temperatura" type="number" name="temperatura" required placeholder="Temperatura:">
                        </div>
                        <div class="col s4">
                            <input formControlName="peso" type="number" name="peso" required placeholder="Peso:">
                        </div>
                    </div>
                    <div class="row">
                                <div class="col s4">
                                    <input formControlName="frecuencia_cardiaca" type="number" name="cardiaca" required placeholder="Frecuencia Cardiaca:">
                                </div>
                                  
                            <div class="col s4">
                                <input formControlName="frecuencia_respiratoria" type="number" name="respiratoria" required placeholder="Frecuencia Respiratoria:">
                            </div>
                            <div class="col s4">
                                <input formControlName="estado_animo" type="text" name="animo" required placeholder="Estado animo:">
                            </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <textarea formControlName="recomendaciones" id="textarea1" class="materialize-textarea"></textarea>
                          <label for="textarea1" class="active">Recomendaciones</label>
                        </div>
                      </div>
                </div>
                <p class="left-align">
                    <button [disabled]="!fgValidador.valid" class="waves-effect waves-light btn m2" type="submit">Guardar</button>
                    <a class="waves-effect waves-light btn" routerLink="/citas/buscar-cita">Consultar</a>
                </p>
                </form>
            </section>
        </div>

    </div>

</div>
