<p></p>
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <section class="container">
                <form method="POST" action="#">
                <div class="row">
                    <p>Guarda los datos de tu(s) mascota(s) y luego seleccionalo para solicitar el servicio</p>
                    <div class="row">
                        <div class="col s4">
                            <input type="text" name="nombre" required placeholder="Nombres">
                        </div>
                        <div class="col s4">
                            <input type="text" name="color-ojos" required placeholder="Color ojos">
                        </div>
                        <div class="col s4">
                            <input type="text" name="color-piel" required placeholder="Color piel">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <input type="text" name="altura" required placeholder="Altura">
                        </div>
                        <div class="input-field col s4 ">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Perro</option>
                                <option value="2">Gato</option>
                                <option value="3">Ave</option>
                              </select>
                              <label>Tipo</label>
                        </div>
                        <div class="col s4">
                            <input type="text" name="raza" required placeholder="Raza">
                        </div>
                    </div>
                </div>
                <p class="left-align">
                    <button class="waves-effect waves-light btn" type="submit">Guardar</button>
                </p>
                </form>
            </section>
        </div>

    </div>

</div>